<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Splash screen</title>


    <style>
        body {
            height: 100vh;
            display: flex;
            background-color: white;
            position: relative;
            text-align: center;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        img {
            position: relative;
            margin: auto;
        }
    </style>


</head>

<body>
    <img src="../assets/images/bg.jpg">
</body>

</html>