
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		Informations patient
	</title>
    
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/global.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/header.css" />
	<link rel="stylesheet" type="text/css" href="../../../node_modules/electron-tabs/electron-tabs.css" />
	<link rel="stylesheet" href="../../assets/stylesheets/calendar/demo.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/calendar/theme3.css"/>
	<script type="text/javascript" src="../../assets/javascripts/jquery-3.5.1.min.js"></script>
    <style type="text/css">
    	.window-title {
    		color: #fff;
    		font-size: 15px !important;
    	}
    	.titlebar {
    		height: 45px !important;
    	}
    	.container-after-titlebar {
    		top: 45px !important;
    		padding-top: 20px !important;
    	}
    	._control {
    	    margin-top: 0;
    	}
    	._control label {
    		position: relative;
    		text-align: left;
    		color: #6b7280;
    		font-size: 14px;
    	}
    	._control input {
    		width: 100%;
    		height: 40px;
    		border-radius: 4px;
    		border: 1px solid #e5e7eb;
    		padding-left: 10px;
    		font-size: 13px;
    	}
    	.err {
			position: relative;
		    color: var(--color-red);
		    font-size: 13px;
		    left: 10px;
		    top: 1px;
		    visibility: hidden;
		    margin: 0;
    	}
    	._control select {
    	    width: 100%;
    	    height: 40px;
    	    border-radius: 4px;
    	    border: 1px solid #e5e7eb;
    	    padding-left: 10px;
    	    font-size: 13px;
    	}
    	._control textarea {
    	    width: 100%;
    	    height: 70px;
    	    border-radius: 4px;
    	    border: 1px solid #e5e7eb;
    	    padding-left: 10px;
    	    font-size: 13px;
    	    padding-top: 10px;
    	}
    	._control input:focus, ._control select:focus, ._control textarea:focus {
    		outline: none;
    	}
    	.half_form {
			width: 49%;
		    display: inline-block;
    	}

    	._control button {
    		float: right;
		    background: #fff;
		    border-radius: 6px;
		    margin-left: 10px;
		    font-size: 14px;
		    height: 32px;
		    cursor: pointer;
		    border: 1px solid var(--color-gray);
    	}
    	._control button:hover {
    		border: 1px solid var(--color-blue-light) !important;
    		color: var(--color-blue-light) !important;
    	}
    	.control_options {
    		position: fixed;
		    bottom: 0;
		    background: var(--color-gray-light);
		    height: 50px;
		    padding-top: 10px;
		    width: 100%;
		    left: 0;
		    right: 0;
		    padding-right: 15px;
		}
		._control button>img {
		    width: 15px;
		    display: inline-block;
		}
		._control button>span {
			display: inline-block;
		}
    </style>
</head>
<body>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<form id="add-client-form">
				<div class="_control half_form">
					<label>NOM DU PATIENT</label>
					<input type="text" name="search" placeholder="Moha Smith" />
					<p class="err err-name">Veuillez insérer un nom de patient valide</p>
				</div>
				<div class="_control half_form">
					<label>NOMS DES PARENTS</label>
					<input type="text" name="search" placeholder="Malek & katiba" />
					<p class="err err-card">Veuillez insérer un nom de parents valide</p>
				</div>
				<div class="_control half_form">
					<label>SEXE</label>
					<select class="gender">
						<option value="0">Homme</option>
						<option value="1">Femme</option>
					</select>
					<p class="err err-card">Veuillez insérer un sexe valide</p>
				</div>
				<div class="_control half_form">
					<label>AGE</label>
					<input type="number" name="age" placeholder="27" />
					<p class="err err-card">Veuillez insérer un âge valide</p>
				</div>
				<div class="_control">
					<label>ADRESSE</label>
					<textarea name="address" placeholder="Béjaia city, France"></textarea>
					<p class="err err-card">Veuillez insérer une adresse valide</p>
				</div>
				<div class="_control half_form">
					<label>OCCUPATION</label>
					<input type="text" name="occupation" />
					<p class="err err-card">Veuillez insérer une profession valide</p>
				</div>
				<div class="_control half_form">
					<label>NO DE CONTACT</label>
					<input type="text" name="contact_number" />
					<p class="err err-card">Veuillez insérer un numéro de contact valide</p>
				</div>
				<div class="_control half_form">
					<label>RÉFÉRENCE</label>
					<input type="text" name="reference" />
					<p class="err err-card">Veuillez insérer une référence valide</p>
				</div>
				<div class="_control half_form">
					<label>DATE</label>
					<input type="date" name="date" />
					<p class="err err-card">Veuillez insérer une date valide</p>
				</div>
				<div class="_control control_options">
					<button id="close_patient">
						<img src="../../assets/images/icons/diskette.svg" alt="CLOSE" />
						<span>FERMER<span>
					</button>
					<button id="reset_patient">
						<img src="../../assets/images/icons/reset.svg" alt="RESET" />
						<span>RÉINITIALISER<span>
					</button>
					<button id="save_patient">
						<img src="../../assets/images/icons/diskette.svg" alt="SAVE" />
						<span>ENREGISTRER<span>
					</button>
				</div>
				</form>	
			</div>
		</div>
	</div>

	<script type="text/javascript">
		// const customTitlebar = require('custom-electron-titlebar');
		// const path = require('path'); 
		// const url = require('url');

		// new customTitlebar.Titlebar({
		//     backgroundColor: customTitlebar.Color.fromHex('#4198f7'),
		//     menu: false,
		//     titleHorizontalAlignment: "left",
		//     maximizable: false
		// });
	</script>

</body>
</html>